# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
_deps/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
build/

# garbage
.vscode/
HelloWorld
server_build
client_build

# documentation
docs/
latex/